<% title "Contract Details" %>

  <%= field_set_tag "Contract and Sales Information" do %>
    
    <!-- HMIS username -->
    <span>
      <%= label_tag 'contract_username', "HMIS Username" %>
      <%= f.text_field :username %>
      <%#= select_box('contract[username]', @users) %>
    </span>
    
    
    <span>
      <%#= label_tag 'contract_password', "Password" %>
      <%= f.hidden_field :password %>
    </span>
    
    <!-- HMIS URL -->
    <p>
      <%#= label_tag 'hmis_url', "HMIS URL" %>
      <%#= text_field_tag "HMIS[url]", "http://174.143.165.9/hmisweb4/login.aspx?dbCompanyName=hmis", :disabled => true, :size => 50 %>
      <%= hidden_field_tag "contract[hmis_url]", "http://174.143.165.9/hmisweb4/login.aspx?dbCompanyName=hmis" %>
    </p>
    <span>
      <%= f.label 'contract_no', "Contract No" %>
      <%= f.text_field :contract_no %>
    </span>
    
    <!--location -->
    <span>
      <%= f.label 'location_id', "Batch Location" %>
      <%= f.text_field :location_id %>
      <%#= f.select("location_id", [], { :include_blank => true }) %>
      <%#=  select_box('contract[location_id]', @locations) %>
    </span>
    
   <br />
   <br />
   
    <span>
      <%= label_tag 'contract_sale_type', "Sales Type" %>
      <%= f.text_field :sales_type %>
      <%#=  select_box('contract[sales_type]', []) %>
    </span>
    
    <span>
      <%= label_tag 'contract_sale_need', "Sales Need" %>
      <%= f.text_field :sales_need %>
      <script type="text/javascript" charset="utf-8">
        $("#contract_sales_need").autocomplete({
          source: <%= sanitize(@sales_need.to_json) %>
        });
      </script>
      <%#=  select_box('contract[sales_need]', @sales_need, {}) %>
    </span>
    
    <span>
      <%= label_tag 'contract_sale_txn_type', "Txn Type" %>
      <%= f.text_field :sales_txn_type %>
      <%#=  select_box('contract[sales_txn_type]', []) %>
    </span>

    <br />
    <br />
    <span>
      <%#= label_tag 'contract_sales_batch_date', "Batch Date" %>
      <%#= f.text_field :sales_batch_date %>
    </span>
    
    <span>
      <%#= label_tag 'contract_sales_txn_date', "Txn Date" %>
      <%#= f.text_field :sales_txn_date %>
    </span>
    
    <span>
      <%= label_tag 'contract_sales_date', "Sales Date" %>
      <%= f.text_field :sales_date %>
    </span>
    
    <p>
      <%= label_tag 'contract_sales_leadsource', "Lead Source" %>
      <%= f.text_field :sales_lead_source %>
      <%#=  select_box('contract[sales_lead_source]', []) %>
    </p>
    
    <p>
      <%= label_tag 'contract_sales_primary_counselor', "Primary Counselor" %>
      <%= f.text_field :sales_primary_counselor %>
      <%#=  select_box('contract[sales_primary_counselor]', []) %>
    </p>
    
    <p>
      <%= label_tag 'contract_sales_secondary_counselor_1', "Secondary Counselor" %>
      <%= f.text_field :sales_secondary_counselor_1 %>
      <%#=  select_box('contract[sales_secondary_counselor_1]', []) %>
    </p>
    
    <p>
      <%#= label_tag 'contract_sales_secondary_counselor_2', "Secondary Counselor 2" %>
      <%#= f.text_field :sales_secondary_counselor_2 %>
      <%#=  select_box('contract[sales_secondary_counselor_2]', []) %>
    </p>
    
    <p>
      <%#= label_tag 'contract_sales_secondary_counselor_3', "Secondary Counselor 3" %>
      <%#= f.text_field :sales_secondary_counselor_3 %>
      <%#=  select_box('contract[sales_secondary_counselor_3]', []) %>
    </p>
  <% end %>
  
  <br />
  <br />  
  <p><%#= f.submit "Save Contract Entry" %></p>
