<%= form_for @contract, :html => { :multipart => true } do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= field_set_tag "Contract Information" do %>
    <p>
      <%= label_tag 'hmis_url', "HMIS URL" %>
      <%= text_field_tag "HMIS[url]", "http://174.143.165.9/hmisweb4/login.aspx?dbCompanyName=hmis", :disabled => true, :size => 50 %>
      <%= hidden_field_tag "contract[hmis_url]", "http://174.143.165.9/hmisweb4/login.aspx?dbCompanyName=hmis" %>
    </p>
    <span>
      <%= f.label 'contract_no', "Contract No" %>
      <%= f.text_field :contract_no %>
    </span>
    <span>
      <%= f.label 'location_id', "Batch Location" %>
      <%= f.select("location_id", options_for_select(@locations), { :include_blank => true })
%>
      <%#=  select_box('contract[location_id]', @locations) %>
    </span>
    
   <br />
   <br />
   
    <span>
      <%= label_tag 'contract_sales_batch_date', "Batch Date" %>
      <%= text_field_tag "contract[sales_batch_date]", "" %>
    </span>
    
    <span>
      <%= label_tag 'contract_sales_txn_date', "Txn Date" %>
      <%= text_field_tag "contract[sales_txn_date]", "" %>
    </span>
    <br />
    <br />
    <span>
      <%= label_tag 'contract_sale_type', "Sales Type" %>
      <%=  select_box('contract[sales_type]', []) %>
    </span>
    
    <span>
      <%= label_tag 'contract_sale_need', "Sales Need" %>
      <%=  select_box('contract[sales_need]', @sales_need, {}) %>
    </span>
    
    <p>
      <%= label_tag 'contract_sale_txn_type', "Txn Type" %>
      <%=  select_box('contract[sales_txn_type]', []) %>
    </p>
  <% end %>
  
  <br />
  <br />
  <%= field_set_tag "Sales Information"  do %>
    <p>
      <%= label_tag 'contract_sales_date', "Sales Date" %>
      <%= text_field_tag "contract[sales_date]", "" %>
    </p>
    
    <p>
      <%= label_tag 'contract_sales_leadsource', "Lead Source" %>
      <%=  select_box('contract[sales_lead_source]', []) %>
    </p>
    
    <span>
      <%= label_tag 'contract_sales_primary_counselor', "Primary Counselor" %>
      <%=  select_box('contract[sales_primary_counselor]', []) %>
    </span>
    
    <span>
      <%= label_tag 'contract_sales_secondary_counselor_1', "Secondary Counselor 1" %>
      <%=  select_box('contract[sales_secondary_counselor_1]', []) %>
    </span>
    <br />
    <br />
    
    <span>
      <%= label_tag 'contract_sales_secondary_counselor_2', "Secondary Counselor 2" %>
      <%=  select_box('contract[sales_secondary_counselor_2]', []) %>
    </span>
    
    <span>
      <%= label_tag 'contract_sales_secondary_counselor_3', "Secondary Counselor 3" %>
      <%=  select_box('contract[sales_secondary_counselor_3]', []) %>
    </span>
  <% end %>
  
  <br />
  <br />
  
  <table class="customers">
    <tbody>
      <tr>
        <th>Type</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Zipcode</th>
        <th>Phone</th>
        <th>Validate</th>
        <th>HMIS Validation</th>
        <th>USPS Validation</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>DOB [mm/dd/yyyy]</th>
        <th>DOD [mm/dd/yyyy]</th>
        <th>SSN</th>
      </tr>
      <%= render :partial => "personal_detail", :layout => false%>
    </tbody>
  </table>
  
  <br />
  <br />
  
  <table class="customers">
    <tbody>
      <tr>
        <th>Item CD search</th>
        <th>Item Desc search</th>
        <th>Category code</th>
        <th>Group code</th>
        <th>HMIS search</th>
        <th>HMIS item list</th>
        <th>Final item code</th>
        <th>Final item Desc</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Discount%</th>
        <th>Discount</th>
        <th>Discount reason</th>
        <th>Cost</th>
        <th>Sales need</th>
      </tr>
      <%= render :partial => "item_detail", :layout => false%>
    </tbody>
  </table>
  
  <br />
  <br />
  
  <table class="customers">
    <tbody>
      <tr>
          <td><b>Terms</b></td>
          <td><%= select_box("contract[interest_term]", [], :style => "width: 200px;")%></td>
          <td><b>Payment Start Date</b></td>
          <td><%= text_field_tag "contract[interest_payment_start_date]" %></td>
          <td><b>Interest Method</b></td>
          <td><%= select_box("contract[interest_method]", [], :style => "width: 200px;" )%></td>
      </tr>
      <tr>
          <td><b>Interest Rate</b></td>
          <td><%= text_field_tag "contract[interest_rate]" %></td>
          <td><b>Days Interest Free</b></td>
          <td><%= text_field_tag "contract[interest_free_days]" %></td>
          <td><b>Forgive Interest</b></td>
          <td><%= text_field_tag "contract[interest_forgive]" %></td>
      </tr>
    </tbody>
  </table>
  
  
  <br />
  <br />
  
  <table class="customers">
    <tbody>
      <tr>
        <th>Down pymt date</th>
        <th>Amount</th>
        <th>Down pymt type</th>
        <th>remarks</th>
      </tr>
      <%= render :partial => "payment", :layout => false%>
    </tbody>
  </table>
  
  
  <br />
  <br />
  
  <table class="customers">
    <tbody>
      <tr>
        <th>Image names</th>
        <th>Document type</th>
        <th>Upload file</th>
      </tr>
      <%= render :partial => "file_upload", :layout => false%>
    </tbody>
  </table>
  
  <p><%= f.submit "Save Contract Entry" %></p>
<% end %>
