<table class="customers">
  <tbody>
    <tr>
      <th>Item code</th>
      <th>Item Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Discount%</th>
      <th>Discount reason</th>
    </tr>

		<% (1..5).each do |item| %>
		<tr class=<%= item%2 == 0 ? "alt" : ""%>>
			<td>
				<%= text_field_tag "contract[item][#{item}][final_code]", (@item_details.nil? ? "" : @item_details[item.to_s]["final_code"]), :size => 20  %>
			</td>
			<td>
				<%= text_field_tag "contract[item][#{item}][final_desc]", (@item_details.nil? ? "" : @item_details[item.to_s]["final_desc"]), :size => 30 %>
			</td>
			<td>
				<%= text_field_tag "contract[item][#{item}][quantity]", (@item_details.nil? ? "" : @item_details[item.to_s]["quantity"]), :size => 5 %>
			</td>
			<td>
				<%= text_field_tag "contract[item][#{item}][price]", (@item_details.nil? ? "" : @item_details[item.to_s]["price"]), :size => 10  %>
			</td>
			<td>
				<%= text_field_tag "contract[item][#{item}][discount_percent]", (@item_details.nil? ? "" : @item_details[item.to_s]["discount_percent"]), :size => 10  %>
			</td>
			<td>
				<%#= select_box("contract[item][#{item}][discount_reason]", @discount_reason) %>
				<%= text_field_tag "contract[item][#{item}][discount_reason]", (@item_details.nil? ? "" : @item_details[item.to_s]["discount_reason"]), :size => 30 %>
				<script type="text/javascript" charset="utf-8">
					$("#contract_item_<%= item.to_s %>_discount_reason").autocomplete({
						source : <%= sanitize(@discount_reason.to_json) %>
					});
				</script>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
  
<br />
<br />
