<% title "Payment Options" %>
<div class="bluebg green">
	<%= "Your total is $ #{total_cost(@contract)}"%>
</div>

<br />
<br />

<div align="center">
<%#= link_to "Proceed to Pay", "#", :id => "cc_payment", :class => "button blue" %>
<%= link_to "Finance Options", "#", :id => "financing_options", :class => "button blue" %>
</div>
<br />
<br />
<br />
<br />
<div id="financing_options_details" style="display:none;" align="center">
  <table class="customers">
    <tbody>
      <tr>
          <td><b>Terms</b></td>
          <td><%= text_field_tag "contract[interest_term]", @interest_term, :class => "ac_field"  %></td>
          <td><b>Payment Start Date</b></td>
          <td><%= text_field_tag "contract[interest_payment_start_date]", @interest_payment_start_date %></td>
          <td><b>Interest Method</b></td>
          <td><%= text_field_tag  "contract[interest_method]", @interest_method, :class => "ac_field" %></td>
      </tr>
      <tr>
          <td><b>Interest Rate</b></td>
          <td><%= text_field_tag "contract[interest_rate]", @interest_rate %></td>
          <td><b>Days Interest Free</b></td>
          <td><%= text_field_tag "contract[interest_free_days]", @interest_free_days %></td>
          <td><b>Forgive Interest</b></td>
          <td><%= text_field_tag "contract[interest_forgive]", @interest_forgive %></td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />


		<table class="customers">
				<tbody>
				  <tr>
				    <th>Down pymt date</th>
				    <th>Amount</th>
				    <th>Down pymt type</th>
				    <th>remarks</th>
				  </tr>

				<% (1..3).each do |item| %>
				<tr class=<%= item%2 == 0 ? "alt" : ""%>>
					<td>
						<%= text_field_tag "contract[payment][#{item}][date]", (@payment_details.nil? ? "" : @payment_details[item.to_s]["date"]), :size => 10, :class => "down_payment_date" %>
					</td>
					<td>
						<%= text_field_tag "contract[payment][#{item}][amount]", (@payment_details.nil? ? "" : @payment_details[item.to_s]["amount"]), :size => 10%>
					</td>
					<td>
						<%= select_tag "contract[payment][#{item}][type]", options_for_select(["", "Deferred Down Payment"], (@payment_details.nil? ? "" : @payment_details[item.to_s]["type"])), :class => "down_payment_type" %>
						<%#= select_box("contract[payment][#{item}][type]", (@payment_details.nil? ? [] : @payment_details[item.to_s]["type"]) , :style => "width: 270px;", :class => "down_payment_type") %>
					</td>
					<td>
						<%= text_field_tag "contract[payment][#{item}][remarks]", (@payment_details.nil? ? "" : @payment_details[item.to_s]["remarks"]), :size => 10%>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<script type="text/javascript">
			paymentDetails(<%= sanitize(@contract.data[:sales_type.to_s].to_json) %>);
		</script>
	<br />
	<br />
	<br />
	<br />
</div>

