<% title "Payment Options" %>
<div class="bluebg">
	<%= "Your total is $ #{total_cost(@contract)}"%>
</div>

<br />
<br />

  <table class="customers">
    <tbody>
      <tr>
          <td><b>Terms</b></td>
          <td><%= select_box("contract[interest_term]", [], :style => "width: 200px;")%></td>
          <td><b>Payment Start Date</b></td>
          <td><%= text_field_tag "contract[interest_payment_start_date]" %></td>
          <td><b>Interest Method</b></td>
          <td><%= select_box("contract[interest_method]", [], :style => "width: 200px;" )%></td>
      </tr>
      <tr>
          <td><b>Interest Rate</b></td>
          <td><%= text_field_tag "contract[interest_rate]" %></td>
          <td><b>Days Interest Free</b></td>
          <td><%= text_field_tag "contract[interest_free_days]" %></td>
          <td><b>Forgive Interest</b></td>
          <td><%= text_field_tag "contract[interest_forgive]" %></td>
      </tr>
    </tbody>
  </table>

  <br />
  <br />


<table class="customers">
    <tbody>
      <tr>
        <th>Down pymt date</th>
        <th>Amount</th>
        <th>Down pymt type</th>
        <th>remarks</th>
      </tr>

		<% (1..3).each do |item| %>
		<tr class=<%= item%2 == 0 ? "alt" : ""%>>
			<td>
				<%= text_field_tag "contract[payment][#{item}][date]", "", :size => 10, :class => "down_payment_date" %>
			</td>
			<td>
				<%= text_field_tag "contract[payment][#{item}][amount]", "", :size => 10%>
			</td>
			<td>
				<%= select_box("contract[payment][#{item}][type]", [], :style => "width: 270px;", :class => "down_payment_type") %>
			</td>
			<td>
				<%= text_field_tag "contract[payment][#{item}][remarks]", "", :size => 10%>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
