<% (1..10).each do |item| %>
<tr class=<%= item%2 == 0 ? "alt" : ""%>>
	<td>
		<%= select_box("name_type_#{item}", @name_types, :include_blank => false) %>
	</td>
	<td>
		<%= text_field_tag "contract[][first_name_#{item}]", "", :size => 6 %>
	</td>
	<td>
		<%= text_field_tag "contract[][middle_name_#{item}]", "", :size => 3  %>
	</td>
	<td>
		<%= text_field_tag "contract[][last_name_#{item}]", "", :size => 6  %>
	</td>
	<td>
		<%= text_field_tag "contract[][zipcode_#{item}]", "", :size => 5  %>
	</td>
	<td>
		<%= text_field_tag "contract[][phone_#{item}]", "", :size => 6, :limit => 15  %>
	</td>
	<td>
		<a id=<%= "validate_#{item}" %> href="#">Validate! </a>
	</td>
	<td>
		<%= select_box("hmis_name_#{item}", []) %>
	</td>
	<td>
		<%= select_box("usps_data_#{item}", [])%>
	</td>
	<td>
		<%= text_field_tag "contract[][address_#{item}]", "", :size => 10  %>
	</td>
	<td>
		<%= text_field_tag "contract[][city_#{item}]", "", :size => 5  %>
	</td>
	<td>
		<%= text_field_tag "contract[][state_#{item}]", "", :size => 5  %>
	</td>
	<td>
		<%= text_field_tag "contract[][dob_#{item}]", "", :size => 5, :limit => 10  %>
	</td>
	<td>
		<%= text_field_tag "contract[][dod_#{item}]", "", :size => 5, :limit => 10 %>
	</td>
	<td>
		<%= text_field_tag "contract[][ssn_#{item}]", "", :size => 3  %>
	</td>
</tr>
<% end %>
