<% if @contract.current_step == "personal_detail" %>
  <% title "Customer Details" %>
  <div class="search_details">
	  Would you like to search for an existing Purchaser?
  </div>
  <br />
	<div>
		<%= form_tag('/contracts/customer_search', :id => "customer_search") do -%>
			<%= text_field_tag "customer_search[fname]", "First name", :class => "dull-txt", :onfocus => "$(this).clearfield('First name');", :onblur => "$(this).resetfield('First name');" %>
			<span>or</span>
			<%= text_field_tag "customer_search[lname]", "Last name", :class => "dull-txt", :onfocus => "$(this).clearfield('Last name');", :onblur => "$(this).resetfield('Last name');"%>
			<span>or</span>
			<%= text_field_tag "customer_search[zipcode]", "Zipcode", :class => "dull-txt", :onfocus => "$(this).clearfield('Zipcode');", :onblur => "$(this).resetfield('Zipcode');" %>
			<span>or</span>
			<%= text_field_tag "customer_search[phone]", "Phone", :class => "dull-txt", :onfocus => "$(this).clearfield('Phone');", :onblur => "$(this).resetfield('Phone');" %>
			<%= submit_tag "Search" %>
		<% end -%>
	</div>

  <br />
  <br />
<% end%>

<% if @contract.current_step == "item_detail" %>
  <% title "Line Item Details" %>
  <div class="search_details">
	  Would you like to search for an existing item?
  </div>
  <br />
  <div>
  	<%= form_tag('/contracts/item_search', :id => "item_search") do -%>
			<%= text_field_tag "item_search[item_code]", "Item code", :class => "dull-txt", :onfocus => "$(this).clearfield('Item code');", :onblur => "$(this).resetfield('Item code');"%>
			<span>Or</span>			
			<%= text_field_tag "item_search[item_desc]", "Item description", :class => "dull-txt", :onfocus => "$(this).clearfield('Item description');", :onblur => "$(this).resetfield('Item description');"%>
			<span>Or</span>
			<%= text_field_tag "item_search[group_code]", "Group code", :class => "dull-txt", :onfocus => "$(this).clearfield('Group code');", :onblur => "$(this).resetfield('Group code');"%>
			<span>Or</span>
			<%= text_field_tag "item_search[category_code]", "Category code", :class => "dull-txt", :onfocus => "$(this).clearfield('Category code');", :onblur => "$(this).resetfield('Category code');"%>
			<%= submit_tag "Search" %>
	  <% end -%>
  </div>
  
  <script type="text/javascript" charset="utf-8">
		$("#item_search_group_code").group_codes(<%= @contract.data["location_id"] %>);  
  </script>

  <br />
  <br />

<% end %>


<%= form_for @contract, :html => { :multipart => true } do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "#{@contract.current_step}_step", :f => f %>
  <p><%= f.submit "NEXT STEP" unless @contract.last_step? %></p>  
  <p><%= f.submit "Save Contract" if @contract.last_step? %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @contract.first_step? %></p>
  
<% end %>

<p><%= link_to "Back to List", contracts_path %></p>

