
<% if @contract.current_step == "personal_detail" %>
  <% title "Customer Details" %>
  <div class="search_details green">
	  Would you like to search for an existing Purchaser?
  </div>
  <br />
  <div>
  	<%= form_tag('/contracts/customer_search', :id => "customer_search") do -%>
			<%= text_field_tag "customer_search[fname]", "First name", :class => "dull-txt", :onfocus => "$(this).clearfield('First name');", :onblur => "$(this).resetfield('First name');" %>
			<span>or</span>
			<%= text_field_tag "customer_search[lname]", "Last name", :class => "dull-txt", :onfocus => "$(this).clearfield('Last name');", :onblur => "$(this).resetfield('Last name');"%>
			<span>or</span>
			<%= text_field_tag "customer_search[zipcode]", "Zipcode", :class => "dull-txt", :onfocus => "$(this).clearfield('Zipcode');", :onblur => "$(this).resetfield('Zipcode');" %>
			<span>or</span>
			<%= text_field_tag "customer_search[phone]", "Phone", :class => "dull-txt", :onfocus => "$(this).clearfield('Phone');", :onblur => "$(this).resetfield('Phone');" %>
			<%= submit_tag "Search", :class => "button small blue" %>
		<% end -%>
  </div>

  <br />
  <br />
<% end%>

<% if @contract.current_step == "item_detail" %>
  <% title "Line Item Details" %>
  <div class="search_details green">
	  Would you like to search for an existing item?
  </div>
  <br />
  <div>
  	<%= form_tag('/contracts/item_search', :id => "item_search") do -%>
			<%= text_field_tag "item_search[item_code]", "Item code", :class => "dull-txt", :onfocus => "$(this).clearfield('Item code');", :onblur => "$(this).resetfield('Item code');"%>
			<span>Or</span>			
			<%= text_field_tag "item_search[item_desc]", "Item description", :class => "dull-txt", :onfocus => "$(this).clearfield('Item description');", :onblur => "$(this).resetfield('Item description');"%>
			<span>Or</span>
			<%= text_field_tag "item_search[group_code]", "Group code", :class => "ac_field dull-txt", :onfocus => "$(this).clearfield('Group code');", :onblur => "$(this).resetfield('Group code');"%>
			<span>Or</span>
			<%= text_field_tag "item_search[category_code]", "Category code", :class => "ac_field dull-txt", :onfocus => "$(this).clearfield('Category code');", :onblur => "$(this).resetfield('Category code');"%>
			<%= submit_tag "Search", :class => "button small blue" %>
	  <% end -%>
  </div>
  
  <script type="text/javascript">
		$("#item_search_group_code").group_codes(<%= sanitize(@contract.data["location_id"].to_json) %>);  
  </script>

  <br />
  <br />

<% end %>


<%= form_for @contract, :html => { :multipart => true } do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "#{@contract.current_step}_step", :f => f %>
  <%= f.submit "Back", :name => "back_button", :class => "button blue" unless @contract.first_step? %>
  <%= f.submit "NEXT STEP", :class => "button blue" unless @contract.last_step? %>  
 	<%= f.submit "Save Contract", :class => "button blue" if @contract.last_step? %>
  
<% end %>

<p><%= link_to "Back to List", contracts_path, :class => "button small gray" %></p>

<% if @contract.current_step == "payment_detail" %>
	<div id="cc_payment_details" style="position: absolute; margin-top: -290px; margin-left: 460px;" align="center">
		<%= form_tag('/contracts/recieve_payment', :id => "recieve_payment") do -%>
			<div class="success"></div>
			<div class="error" ></div>
			<br />
			<table class="customers">
				<tbody>
				  <tr>
				      <td><%= label_tag 'recieve_payment[full_name]', "Full Name" %></td>
				      <td><%= text_field_tag "recieve_payment[full_name]", "" %></td>
				  </tr>
				  
				  <tr>
				      <td><%= label_tag 'recieve_payment[card_number]', "Card Number" %></td>
				      <td><%= text_field_tag "recieve_payment[card_number]", "4111111111111111", :maxlength => 16, :class => "dull-txt", :onfocus => "$(this).clearfield('4111111111111111');", :onblur => "$(this).resetfield('4111111111111111');" %></td>
				  </tr>
				  
				  <tr>
				      <td><%= label_tag 'recieve_payment[expiry_date]', "Expiry Date" %></td>
				      <td><%= date_select "recieve_payment", "expiry_date", :start_year => Time.now.year, :end_year => Time.now.year + 10, :use_month_short => true, :order => [:month, :year], :include_blank => true %></td>
				  </tr>
				  
				  <tr>
				      <td><%= label_tag 'recieve_payment[cvv]', "CVV" %></td>
				      <td><%= password_field_tag "recieve_payment[cvv]", "", :maxlength => 3, :size => 3%></td>
				  </tr>
				  
				  <tr>
				      <td><%= label_tag 'recieve_payment[amount]', "Amount ($)" %></td>
				      <td><%= text_field_tag "recieve_payment[amount]", total_cost(@contract), :readonly => true %></td>
				  </tr>
				  
				</tbody>
			</table>
		<br />
		<%= submit_tag "Make Payment", :class => "button blue" %>
		<% end -%>
	</div>
<% end -%>
